[submodule "bgfx"]
	path = bgfx
	url = ../bgfx.git
	branch = conan
[submodule "bx"]
	path = bx
	url = ../bx.git
	branch = conan
[submodule "bimg"]
	path = bimg
	url = ../bimg.git
	branch = bimg_conan
[submodule "astc-encoder"]
	path = astc-encoder
	url = ../astc-encoder.git
	branch = conan
[submodule "meshoptimizer"]
	path = meshoptimizer
	url = ../meshoptimizer.git
	branch = master
[submodule "glslang"]
	path = glslang
	url = ../glslang.git
	branch = main
[submodule "SPIRV-Tools"]
	path = SPIRV-Tools
	url = ../SPIRV-Tools.git
	branch = main
[submodule "SPIRV-Headers"]
	path = SPIRV-Headers
	url = ../SPIRV-Headers.git
	branch = main
[submodule "SPIRV-Cross"]
	path = SPIRV-Cross
	url = ../SPIRV-Cross.git
	branch = main
[submodule "glsl-optimizer"]
	path = glsl-optimizer
	url = ../glsl-optimizer.git
	branch = conan
