[submodule "bgfx"]
	path = bgfx
	url = ../bgfx.git
	branch = conan
[submodule "bx"]
	path = bx
	url = ../bx.git
	branch = conan
[submodule "bimg"]
	path = bimg
	url = ../bimg.git
	branch = bimg_conan
[submodule "astc-encoder"]
	path = astc-encoder
	url = ../astc-encoder.git
	branch = conan
